* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centralizando todos os elementos de bloco */
div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 12em;
    height: 12em;
    border: 0.3em solid rgb(146, 111, 187);
    border-radius: 50%;
    /* Trabalhando com animation e suas propriedades */
    animation: loading 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(135, 74, 206) transparent transparent;
}

/* Trabalhando a tag span */
#loading span {
    position: absolute;
    z-index: 1;
    padding: 5em;
    color: rgb(150, 88, 190);
    opacity: 70%;
    font-family: sans-serif;
    font-size: 0.9em; 
}

#loading div:nth-child(1) {
    animation-delay: -0.55s;
}

#loading div:nth-child(2) {
    animation-delay: -0.15s;
}

/* Atributos para o circulo de marcação */
#loading div:nth-child(3) {
    animation-delay: -0.12s;
    border: 0.4em solid rgb(38, 6, 75) ;
    opacity: 5%;
}

/* Trabalhando com keyframes */
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
      }
}

/* Credits */
.credit {
    position: absolute;
    margin: 0 auto;
    bottom: 2em;
    color: rgb(150, 88, 190);
    opacity: 85%;
    font-family: sans-serif;
    font-size: 0.5em; 
}

.credit a {
    text-decoration: none;
    color: rgb(170, 92, 196);
    font-weight: bold;
    
}
.credit a:hover {
    color: rgb(135, 74, 206);
    font-weight: bold;
}